@font-face {
  font-family: 'PT Sans';
  src: url('pt-sans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Space Mono';
  src: url('space-mono.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
html, body {
  height: 100%;
  padding: 0px;
  margin: 0px;
}
body {
  font-family: 'PT Sans';
  color: #111;
  background-color: #ddd;
}
body.beats {
  background-color: #333;
}
#wrapper {
  min-height: 100%;
  transform-style: preserve-3d;
}
#date {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translate(0%, -50%);
  text-align: center;
  font-size: 7vw;
}
body.beats #date {
  color: #9d0;
  font-family: 'Space Mono', monospace;
  font-size: 20vw;
}
#settings-wrapper {
  display: block;
  position: absolute;
  background-color: #fff;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #111;
  padding: 4px 0px;
  font-size: 10pt;
}
#settings {
  margin: 0px 8px;
}
.setting-zone {
  margin: 0px 8px 0px 0px;
  white-space: nowrap;
}
select, option {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
